{% extends "blogsapp/base.html"%}
{% block content %}

<div class="content-section">
  <form  method="post">
    {% csrf_token %}
    <fieldset class="form-group">
          <legend class="border-bottom mb-4">Create Post</legend>
          <h3> Are you sure you want to delete post "{{object.title}}"? </h3>
    </fieldset>
    <div class="form-group">
      <button type="button" class="btn btn-danger btn-sm" type="submit">Yes, Delete</button> &nbsp &nbsp &nbsp &nbsp &nbsp
      <a class="btn btn-primary btn-sm" href="{% url 'post-detail' object.id %}">Cancel</a>
    </div>
  </form>

</div>

{% endblock %}
